[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = https://github.com/marijnh/tern.git
[submodule "site-lisp/restclient"]
	path = site-lisp/restclient
	url = https://github.com/pashky/restclient.el.git
